@page
@model SupermarketparkingManagement_CuongCla.Pages.ParkingRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].VehiclePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].CheckOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].ParkingSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].FeePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingRecord[0].VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParkingRecord) {
        <tr class="js-pagination-item">
            <td>
                @Html.DisplayFor(modelItem => item.VehiclePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecordId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="js-pagination" style="display: none; margin-top: 20px;"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/pagination.js"></script>

<script>
    generatePagination('.js-pagination', '.js-pagination-item', 3, 'Prev', 'Next');
</script>

